@using MvcKutuphane.Models.Entity
@model List<TBL_HAREKET>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}




<table class="table table-bordered">


    <tr class="bg-dark" style="color:white">
        <td> İŞLEM ID</td>
        <td>KİTAP ADI</td>
        <td>ÜYE</td>
        @*<td>PERSONEL</td>*@
        <td>ALIŞ TARİHİ</td>
        <td>İADE TARİHİ</td>





    </tr>
    @foreach (var x in Model)
    {

        <tr>
            <td>@x.ID</td>
            <td>@x.TBL_KITAP.AD</td>
            <td>@x.TBL_UYELER.AD&nbsp @x.TBL_UYELER.SOYAD</td>
            @*<td> @x.TBL_PERSONEL.ADSOYAD</td>*@
            <td>@Convert.ToDateTime(x.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(x.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>




        </tr>

    }



</table>




