@using MvcKutuphane.Models.Entity
@model List<TBL_MESAJLAR>
@{
    ViewBag.Title = "GidenMesaj";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

<h2>GidenMesaj</h2>




<table class="table table-bordered">


    <tr class="bg-dark" style="color:white">
        <td>ID</td>
        <td>ALICI</td>
        <td>GÖNDEREN</td>
        <td>KONU</td>
        <td>İÇERİK</td>
        <td>TARİH</td>



    </tr>
    @foreach (var x in Model)
    {

<tr>
    <td>@x.ID</td>
    <td>@x.ALICI</td>
    <td>@x.GONDEREN</td>
    <td>@x.KONU</td>
    <td>@x.ICERIK</td>
    <td>@x.TARIH</td>

</tr>
    }




</table>



