@model MvcKutuphane.Models.Entity.TBL_KITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>KitapGetir</h2>
<br />





@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    <form class="form-group">

        <div>
            <div>
                <label>Kitap ID</label>
                @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
            </div>
            <br />

            <div>
                <label>Kitap Adı</label>
                @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
            </div>
            <br />

            <div>
                <label>Kitap Kategori</label>
                @Html.DropDownListFor(k => k.TBL_KATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
            </div>
            <br />

            <div>
                <label>Yazar Adı</label>
                @Html.DropDownListFor(k => k.TBL_YAZARLAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
            </div>
            <br />



            <div>
                <label>Çıkış Yılı</label>
                @Html.TextAreaFor(k => k.YIL, new { @class = "form-control" })
            </div>
            <br />

            <div>
                <label>Yayın Evi</label>
                @Html.TextAreaFor(k => k.YAYINEVI, new { @class = "form-control" })
            </div>
            <br />

            <div>
                <label>Sayfa</label>
                @Html.TextAreaFor(k => k.SAYFA, new { @class = "form-control" })
            </div>
            <br />
            <div><button class="btn btn-success">Güncelle</button> </div>

        </div>




    </form>
}


