@using MvcKutuphane.Models.Entity
@model List<TBL_KITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}



<table class="table table-bordered" style="margin:20px">


    <tr class="bg-dark" style="color:white">
        <td>ID</td>
        <td>KİTAP ADI</td>
        <td>KATEGORİSİ</td>
        <td>KİTAP YAZARI</td>
        <td>ÇIKIŞ YILI</td>
        <td>YAYINEVİ</td>
        <td>SAYFA SAYISI</td>
     

    </tr>
    @foreach (var x in Model)
    {

        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.TBL_KATEGORI.AD</td>
            <td> @x.TBL_YAZARLAR.AD&nbsp;@x.TBL_YAZARLAR.SOYAD</td>
            <td>@x.YIL</td>
            <td>@x.YAYINEVI</td>
            <td>@x.SAYFA</td>
            

        </tr>

    }



</table>

